.admin {
    display: flex;
    section {
        border: 0 !important;
    }
    @media screen and (max-width: 1220px) {
        flex-direction: column;
        aside {
            height: auto;
            width: 100%;
            padding: 30px;
            align-items: center;
            justify-content: center;
            a {
                width: 100%;
                display: inline-block;
            }
            a,
            ul,
            button {
                text-align: center;
            }
        }
    }
}

.sidebar {
    border-bottom: 1px solid #3b3b3b;
    background: #1f1f1f;
    display: inline-flex;
    height: 100vh;
    padding: 30px 20px 30px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    &__top {
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        align-items: flex-start;
        border-bottom: 1px solid #353535;
        padding-bottom: 22px;
    }

    // &__logo {
    // }

    &__title {
        color: #686868;
        font-size: 16px;
        font-weight: 300;
    }

    // &__nav {
    // }

    &__list {
        display: flex;
        flex-direction: column;
    }

    // &__list-item {
    // }

    &__list-button {
        text-align: left;
        font-size: 16px;
        font-weight: 300;
        padding: 15px 20px;
        color: #aeaeae;
        min-width: 213px;
        transition: 0.3s all;
        &:hover,
        &.active {
            color: $white;
            background: rgba(255, 255, 255, 0.2);
        }
    }
}
.panel {
    max-width: 100%;
    width: 100%;
    padding: 60px 20px 20px 20px;

    &__item {
        opacity: 0;
        transition: 0.3s all;
        display: none;
        &.active {
            display: block; /* Показываем содержимое таба, когда класс active добавлен */
            animation: fadeIn 0.3s ease forwards; /* Анимация появления */
        }
    }
    @keyframes fadeIn {
        from {
            opacity: 0; /* Начальная прозрачность - 0 */
        }
        to {
            opacity: 1; /* Конечная прозрачность - 1 */
        }
    }

    /* Анимация исчезания */
    @keyframes fadeOut {
        from {
            opacity: 1; /* Начальная прозрачность - 1 */
        }
        to {
            opacity: 0; /* Конечная прозрачность - 0 */
        }
    }
    &__title {
        color: #1f1f1f;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    &__main {
        padding: 20px;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

        width: 100%;
    }

    &__main-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        @media screen and (max-width: 1220px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 20px 0;
        }
    }

    &__caption-title {
        color: #1f1f1f;
        font-size: 24px;
        font-weight: 700;
    }

    &__caption-add {
        max-width: 315px;
        width: 100%;
        padding: 18px 20px;
        background-color: $black;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0 10px;
        span {
            font-size: 20px;
            color: $white;
        }
    }

    &__main-content {
        overflow-x: auto;
    }

    &__table {
        width: 100%;
        thead {
            border-bottom: 1px solid #e4e4e4;
        }
        th {
            color: #1f1f1f;
            height: 60px;
            padding: 0px 10px;
            font-size: 16px;
            text-align: left;
            vertical-align: middle;
            background: #f4f4f4;
            font-weight: 700;
        }
        tr {
            border-bottom: 1px solid #e4e4e4;
        }
        td {
            color: #1f1f1f;
            text-align: left;
            vertical-align: middle;
            font-size: 16px;
            padding: 0px 10px;
            white-space: nowrap;

            max-width: 150px;
            height: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
            img {
                width: 71px;
                height: 40px;
            }
        }
    }
}
.overlay-panel {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0);
    z-index: 20;
    visibility: hidden;
    overflow: hidden;
    transition: 0.3s all;

    &.active {
        background-color: rgba($color: #000000, $alpha: 0.7);
        visibility: visible;
        overflow: visible;
    }
}
.modal-panel {
    overflow-y: auto;
    height: 720px;
    max-width: 1000px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    visibility: hidden;
    z-index: 21;
    background-color: rgba(#fff, 1);
    opacity: 0;

    transition: 0.3s all;
    &.active {
        background-color: rgba(#fff, 1);
        opacity: 1;
        visibility: visible;
    }
    &__close {
        margin-left: auto;
        font-size: 20px;
        font-weight: bold;
    }
}
[data-modal-btn="projects"] {
    cursor: pointer;
    svg,
    span,
    path,
    g {
        pointer-events: none !important;
    }
}
.panel-form {
    border-radius: 10px;
    padding: 10px;
    display: block;
    width: 100%;
    &__title {
        font-size: 24px;
        font-weight: 700;
        color: #1f1f1f;

        margin-bottom: 20px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 20px 0;

        margin-bottom: 20px;
    }

    &__label {
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        textarea {
            height: 150px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }

    &__text {
        color: #1f1f1f;
        min-width: 110px;
        text-align: left;
    }

    &__checkboxes {
        display: flex;
        flex-direction: column;
        gap: 10px 0;
    }
    &__checkboxes-items {
        display: flex;
        gap: 0 20px;
    }
    &__chechbox-title {
        background-color: #eaeaea;
        padding: 6px 8px;
        transition: 0.3s all;
        color: #8d8d8d;

        font-size: 16px;

        &.active {
            color: #fff;
            background: $red;
        }
    }

    &__case {
        display: inline-block;
        width: 100%;
        font-size: 16px;
        color: #000;
        border-radius: 8px;
        border: 1px solid #e3e3e3;
        transition: 0.3s all;
        outline: none;
        padding: 20px;
        &::placeholder {
            color: #989898;
            font-family: "Helvetica", serif;
            font-size: 16px;
        }
        &:focus {
            border: 1px solid $black;
        }
    }

    &__button {
        display: flex;
        max-width: 315px;
        width: 100%;
        padding: 18px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;

        font-size: 20px;
        color: #fff;
    }
    &__upload {
        margin-top: 20px;
    }
    &__upload-box {
        cursor: pointer;
        svg,
        path,
        span {
            color: $black;
        }
        &:hover {
            span,
            path {
                color: $red;
                fill: $red;
            }
        }
        label {
            display: flex;
            gap: 0 10px;
            align-items: center;
            // pointer-events: none;
            svg,
            span,
            path {
                transition: 0.3s all;
                pointer-events: none;
            }
        }
    }
    &__upload-title {
        font-size: 20px;
        color: $black;
    }
    &__uploaded-area {
        border: 1px solid $black;
        background-color: $white;
        list-style: none;
        padding: 15px 20px;
        color: $black;
        font-weight: 700;
        font-size: 16px;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: 0.5s all;
        &.active {
            visibility: visible;
            opacity: 1;
            overflow: visible;
        }
    }
    &__upload-text {
        margin-top: 5px;
        color: $black;
        font-size: 12px;
        margin-bottom: 10px;
    }
    &__maxlength {
        display: inline-block;
        margin-bottom: 10px;
        text-align: right;
        color: $white;
    }
    &__upload-progress {
    }
    &__submit {
        padding: 18px 20px;
        background-color: $white;
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        max-width: 350px;
        width: 100%;
        text-align: center;

        margin-top: 50px;
        @media screen and (max-width: 768px) {
            max-width: 100%;
        }
    }
}
