.header {
    border-bottom: 1px solid #3b3b3b;
    padding: 30px 0;
    position: fixed;

    width: 100%;
    z-index: 1000000000000000;
    background-color: $black;
    &__burger {
        display: none;

        width: 50px;
        height: 50px;
        &:hover {
            svg,
            path {
                fill: $red;
            }
        }
        svg,
        path {
            transition: 0.3s all;
        }
    }
    &__nav {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: auto;
    }

    &__list {
        display: flex;
        gap: 0 60px;
        margin-right: 50px;
    }

    &__list-item {
        padding: 8px;
        transition: 0.3s all;
        background-color: transparent;
        &:hover {
            background-color: $red;
        }
    }

    &__list-link {
        font-size: 16px;
        color: $white;
        font-weight: 300;
        text-transform: uppercase;
        transition: 0.3s all;
    }

    &__social {
        display: flex;
        gap: 0 10px;
    }

    // &__social-item {
    // }
    &__title {
        font-size: 16px;
        color: $white;
    }
    &__social-link {
        width: 24px;
        height: 24px;
        display: inline-block;
        background-color: transparent;
        border-radius: 50%;

        transition: 0.3s all;
        svg,
        path {
            transition: 0.3s all;
        }
        &:hover {
            path {
                fill: $red;
            }
        }
    }

    @media screen and (max-width: 767px) {
        &__burger {
            display: inline-block;
        }
        &__list,
        &__social {
            display: none;
        }
    }
}
