.portfolio {
    padding: 80px 0;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__top {
        display: flex;
        margin-bottom: 70px;
    }

    &__title {
        font-size: 32px;
        color: $white;
        margin-right: auto;
        text-transform: uppercase;
    }

    &__tabs {
        display: flex;
        gap: 0 10px;
    }

    &__tab-btn {
        color: #606060;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        transition: 0.3s all;
        padding: 6px 8px;
        background-color: #3b3b3b;
        transition: 0.3s all;
        &.active {
            background-color: $red !important;
            color: $white !important;
        }
        &:hover {
            background-color: $white;
            color: $black;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 70px 20px;

        margin-bottom: 70px;
    }

    &__card {
        position: relative;
        z-index: 9;
        cursor: pointer;
        flex: 0 1 calc(50% - 20px);
        &:hover {
            div {
                img {
                    transform: scale(1.2);
                }
                &::after {
                    background: rgba(0, 0, 0, 0.6);
                }
                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &__card-picture {
        height: 315px;
        position: relative;
        margin-bottom: 20px;
        pointer-events: none;
        overflow: hidden;
        &::after,
        &::before {
            position: absolute;
            content: "";
            transition: 0.3s all;
        }
        &::before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url(../images/portfolio__arrow-hover.svg);
            width: 80px;
            height: 80px;
            z-index: 1;
            opacity: 0;
        }
        &::after {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0);
            // background: rgba(0, 0, 0, 0.6);

            z-index: 0;
        }
    }
    &__tags {
        position: relative;
        z-index: 3;
        display: flex;
        gap: 0 10px;
    }
    &__card-tag {
        font-size: 16px;
        color: $white;
        background-color: $red;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 6px 8px;
    }

    &__card-img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        object-position: center;
        top: 0;
        left: 0;

        transition: 0.3s all;
    }

    &__description {
        font-size: 24px;
        color: $white;
    }

    &__more {
        align-self: center;
    }
    @media screen and (max-width: 1000px) {
        &__title {
            margin-bottom: 30px;
        }
        &__top {
            flex-direction: column;
        }
    }
    @media screen and (max-width: 767px) {
        &__tabs {
            flex-wrap: wrap;
            gap: 20px 10px;
        }
        &__card {
            flex: 1 1 100%;
        }
    }
    @media screen and (max-width: 500px) {
        &__title {
            font-size: 24px;
        }
        &__tab-btn {
            font-size: 14px;
        }
        &__card-picture {
            height: 255px;
        }
    }
}
